.auth__title {
    color: #802B04;
    margin-bottom: 20px;
}

#logo-login {
    display: block;
    /* min-height: 80px; */
    /* min-width: 80px; */
    height: 100%;
    width: 100%;
}

#logo-register {
    display: block;
    /* min-height: 80px; */
    /* min-width: 80px; */
    height: 100%;
    width: 100%;
}

.container-register {
    margin-top: 5%;
    /* padding: 0% 1.5% 3% 1.5%; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* padding: ; */
    /* height: 800px; */
}

.link {
    color: #363636;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    margin-top: 0% !important;
    margin-bottom: 25px;
}

.form-group {
    background-color: #efac68;
    border: 5px solid #683d23;
    box-shadow: -7px 12px 20px black;
    min-height: 560px;
    text-align: center;
    align-content: center;
    padding: 20px;
    border-radius: 2%;
    min-width: 345px;  
    width: 20%;
    margin-left: 8%;
    margin-right: 7%;
    margin-bottom: 2%;
}

.form-control {
    background-color: #f9ba65;
    border: 2px solid #683d23;
    border-radius: 5%;
    color: #87340b;
    margin-bottom: 5px;
    font-size: 25px;
}

.auth__alert-error {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px
}