.main-body {
    margin-top: 7%;
    /* padding: 15px; */
    background-color: #ffc699;
    border: 8px solid hsl(32, 95%, 35%);
    color: hsl(9, 82%, 13%);
    padding-top: 0.1%;    
    padding-left: 2%;
    border-radius: .8rem;
    width: fit-content;
    box-shadow: -2px 2px 7px black;
    cursor: url('../../utils/CursorHD.png'), auto;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #ffc699;
    background-clip: border-box;
    border: 8px solid hsl(32, 95%, 35%);
    border-radius: .25rem;
    margin-top: 2%;
    box-shadow: -2px 2px 7px black;

}

.card-body {
    /* flex: 1 1 auto; */
    /* min-height: 1px; */
    padding: 1rem;
    width: fit-content;
}

.gutters-sm {
    min-width: 20vw;
    min-height: 20vh;
    margin-right: 8px;
    width: fit-content;
    /* margin-left: 8px; */
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
    
}

.col-md3 {
    align-items: center;
    align-content: center;
    text-align: center;
}

.mb-3, .my-3 {
    /* margin-bottom: 1rem!important; */
    width: fit-content;
    float: right;
    flex: auto;
}

.mt-3 {
    width: fit-content;
}

.bg-gray-300 {
    background-color: #ffc699;
}

.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.title-home{
    font-family: SVTitle;
    font-size: 50px;
    /* color: ; */
}

.home {
    align-content: center;
    align-items: center;
    background-color: #ffd284;
    border: 1px solid #bc6805;
    border-radius: 10px 5px 10px 5px;
    font-family: SVBold;
    font-size: 26px;
    margin-left: 0.1%;
    text-align: center;
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.555);
    width: 20%;
    min-width: 115px;
}

.row.home {
    margin-bottom: 5%;
    padding-left: 1.5%;
}

.profile{
    width: fit-content;
    text-align: center;
    background-color: #d8ae72;
    margin-top: 5%;
    box-shadow: -2px 2px 7px black;

    /* margin-left: 20%; */
    /* margin-right: 20%; */
    /* margin */
}