* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

.btn {
    background-color: #d87f01;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;
}

.mb-5 {
    margin-top: 10px;
}
