html, body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    font-family: SVThin;
    font-size: 20px;
    cursor: url('../utils/CursorHD.png'), auto;
}

.logo {
    padding-bottom: 10%;
    margin-bottom: 10%;
    margin-right: 3%;
}

.btn {
    background-color: #d87f01;
    /* border: 8px solid #bc6805; */
    border: none;
    color: white;
    font-size: 26px;
    width: 50%;
    transition: color .3s ease;
    margin-top: 20px;
    font-family: SVBold;
}

.mb-5 {
    margin-top: 50px;
}

.row {
    justify-content: center;
    text-align: center;
    align-content: center;
}


input[type=text]:focus {
    background-color: #f9ba65;
    /* Change the white to any color */
    
}

input[type=password]:focus {
    background-color: #f9ba65;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px #f9ba65 inset !important;
}

@font-face {
    font-family: "SVThin";
    src: url("../utils/svthin.ttf");

    font-family: "SVBold";
    src: url("../utils/svbold.ttf");

}

.module {
    cursor: url, auto;	
}
